/*전체설정*/
input[type=checkbox] {
    display: none;
}


#header {
    position: relative;
    overflow: hidden;
}
#header select {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 3px;
    background-color: #FFFFFF;
}

#signupCheck {
    width: 500px;
    margin: 0 auto;
}

#signCheck td {
    color: #2DB400;
}

/*간격조정*/
#signupCheck tr:nth-child(1), 
#signupCheck tr:nth-child(3){
    height: 30px;
}

#signupCheck tr:nth-child(2) i {
    font-size: 30px;
    float: left; 
}
#signupCheck tr:nth-child(2) p{
    padding: 0 25px;
    text-decoration: underline;
    font-weight: bold;
    color: #000000;
    overflow: hidden;
}


/* 체크사항 부분 기본 스타일 일괄설정 */
#signupCheck tr:nth-child(4) a, 
#signupCheck tr:nth-child(6) a,
#signupCheck tr:nth-child(8) a, 
#signupCheck tr:nth-child(10) a {
    line-height: 40px;
    color: #000000;
    font-weight: 700;
}

/* 체크사항: 체크 되었을때 
- i: 색상변경 - 클릭: 배경색은 초록, 내부글씨는 흰색으로*/
#signupCheck tr:nth-child(4) i, 
#signupCheck tr:nth-child(6) i,
#signupCheck tr:nth-child(8) i, 
#signupCheck tr:nth-child(10) i {
    line-height: 40px;
    padding: 0 10px 0 0;
    font-size: 20px;
}

#signupCheck label {
    cursor: pointer;
}

#signupCheck textarea {
    width: 100%;
    height: 90px;
    margin-bottom: 30px;
    border: 1px solid #DADADA;
    background-color: #FFFFFF;
}


/* 비동의/동의 버튼*/
#signupCheck input{
    width: 48%;
    padding: 20px 15px;
    margin: 15px 3px;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
}
#signupCheck input[type=button] {
    background-color: #8E8E8E;
}
#signupCheck input[type=submit] {
    background-color: #08A600;
}

/*checkbox 가 checked 상태이면 --> input[type=checkbox]밑에 있는 항목들이 영향을 받음 */
#signupCheck input[type=checkbox]:checked+ i {
    color: #08A600;
}



/*footer*/
#signupCheck tr .footer a {
    text-decoration: underline;
    font-weight: bold;
}
#signupCheck tr .footer a:hover {
    color: #8E8E8E;
}