/*font*/
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

/*div {
    border: 1px solid black;
}*/

/*basic setting*/
* {
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0; 
    padding: 0; 
    background-color: #F5F6F7;
}

a {
    text-decoration: none;
}

i {
    color: #8E8E8E;
}

/*header style*/
#header, #content, #footer {
    margin: 0 auto;
    width: 500px;
}

#header {
    text-align: center;
    height: 75px;
}

#header img {
    width: 200px;
    padding: 40px 0;
}



/*content style*/
#content table {
    width: 100%;
}

#content td {
    /*width: 100%;*/
    height: 40px;
    padding: 7px 5px;
    border: 1px solid #DADADA;
    background-color: #FFFFFF;
    font-size: 16px;
    color: #8E8E8E;
}

/*에러메시지 표시 및 공백을 위한 td 영역 스타일 지우기*/
#content tr:nth-child(3) td, 
#content tr:nth-child(6) td, 
#content tr:nth-child(9) td, 
#content tr:nth-child(12) td,
#content tr:nth-child(15) td, 
#content tr:nth-child(18) td,
#content tr:nth-child(23) td, 
#content tr:nth-child(25) td, 
#content tr:nth-child(27) td{
    border: none;
    height: 5px;
    padding: 10px 0;
    background-color: transparent;
}

#content tr:nth-child(27) td {
    padding: 15px;
}

/*항목 이름*/
#content tr:nth-child(1) td, 
#content tr:nth-child(4) td,
#content tr:nth-child(7) td, 
#content tr:nth-child(10) td, 
#content tr:nth-child(13) td, 
#content tr:nth-child(16) td, 
#content tr:nth-child(19) td,
#content tr:nth-child(21) td{
    height: 40px;
    border: none;
    padding: 20px 0 5px 0;
    background-color:#F5F6F7;
    font-weight: 600;
    color: #000000;
}

#content input, #content select {
    width: 100%;
    height: 30px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #FFFFFF;
    font-size: 18px;
}

/*아이디입력*/
#content tr:nth-child(2) input {
    width: 75%;
}

/*비밀번호, 비밀번호 재확인 입력*/
#content tr:nth-child(5) input, 
#content tr:nth-child(8) input {
    width: 90%;
}

/*나머지 input의 width값 설정*/
#content tr:nth-child(11) input, 
#content tr:nth-child(14) input,
#content tr:nth-child(14) select,
#content tr:nth-child(17) select,
#content tr:nth-child(20) input, 
#content tr:nth-child(22) select, 
#content tr:nth-child(24) td:nth-child(1) input {
    width: 95%;
}

/*생년월일 width 값 에러 미해결*/
#content tr:nth-child(14) td{
    width: 30%;
}


/*인증번호받기 버튼설정*/
#content tr:nth-child(24) td:nth-child(2) input {
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 7px;
    background-color: #08A600;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
#content tr:nth-child(24) td:nth-child(2){
    padding: 0;
    height: 30px;
    background-color: #08A600;
    text-align: center;
}

/*인증번호 입력칸*/
#content tr:nth-child(26) input {
    width: 95%;
    background-color: #F5F6F7;
}
#content tr:nth-child(26) td {
    background-color: #F5F6F7;
}


/*가입하기 버튼*/
#content tr:nth-child(28) td {
    background-color: #08A600;
    padding: 0;
    height: 60px;
}
#content tr:nth-child(28) input {
    width: 100%;
    height: 60px;
    margin: 0;
    background-color: #08A600;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
}



/*footer style*/
#footer, .footer{
    margin-top: 30px;
    text-align: center;
    font-size: 13px;
    line-height: 25px;
    color: #7E7E7E;
    font-weight: 800px;
}

.footer a{
    color: #7E7E7E;
}
.footer a:hover {
    color: #08A600;
    text-decoration: underline;
}

.footer a:nth-child(2) {
    font-weight: bold;
}